* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #e9cf96;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-weight: 300;
    color: #492903;
}

h2 {
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(255, 242, 122);
}

h6 {
    color: rgb(255, 242, 122);

}

.title-main {
    font-size: 30px;
    font-weight: 600;
}

.product-gallery {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    width: 900px;
    margin: 0 auto;
}

.preview-cart {
    width: 550px;
    margin: 0 auto;
}

.product-el {
    /* background-color: #555; */
    background-color: #ac7849;
    border-radius: 10px;
    width: 250px;
    height: auto;
    /* height: 260px; */
    text-align: center;
    color: white;
    padding: 10px;
}

.product-el img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product-el h6 {
    padding: 10px 0;
    font-weight: 500;
    font-size: 25px;
}

.btn {
    width: 100%;
    /* height: 30px; */
    padding: 10px 0;
    /* background-color: rgb(29, 76, 90); */
    background-color: #613003;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.btn-plus {
    width: 30%;
    padding: 3px;
    /* background-color: rgb(29, 76, 90); */
    background-color: #3f8efd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}

.btn-minus {
    width: 30%;
    padding: 3px;
    /* background-color: rgb(90, 38, 29); */
    background-color: #ff8041;
    border-radius: 5px;
    cursor: pointer;
}

.input-count {
    width: 30%;
    border-radius: 5px;
    text-align: center;
    border-style: none;

}


hr {
    margin-top: 100px;
}

.configurate-count {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}



#alert_info {
    background-color: #FF905A;
    text-align: center;
    padding: 25px 10px;
    position: absolute;
    width: 100%;
    display: none;
    /* height: 50px; */
}

#alert_info p {
    font-size: 17px;
    font-weight: 500;
    color: white;
}


#screen_2 {
    display: none;
}

.detail-pay {
    width: 440px;
    margin: 0 auto;
}

.detail-pay h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.detail-pay input {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    padding: 5px;
    border-style: none;
}

.detail-pay input:focus {
    outline: none;
    border-style: none;
}

#goto_screen_1 {
    background-color: #e9cf96;
    border: solid 1px #492903;
    color: #492903;
}

.screen-3 {
    margin: 0 auto;
}

table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    border: solid 1px #492903;
    padding: 20px;
}

th {
    font-weight: 600px;
    border-bottom: 1px solid #492903;
    padding: 8px 2px;
    font-size: 20px;
}

td {
    padding: 12px 2px;
}

span {
    background-color: #7AB1FF;
    padding: 8px;
}

.btn-screen-3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-1 {
    border: solid 1px  #492903;
    width: 10%;
    cursor: pointer;
    height: 45px;
    text-align: center;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
}

.btn-2 {
    width: 20%;
    cursor: pointer;
    height: 45px;
    text-align: center;
    padding: 15px;
    background-color: #492903;
    border-radius: 5px;
    color: white;
}

.btn-2:hover {
    border: solid 1px red;
}

.screen-3 {
    display: none;
}

.input_form {
    color: red;
    display: none;
}

span {
    background-color: #7AB1FF;
}